@model IList<Mail>

@{
    ViewData["Title"] = "Inbox";
}

<h1>Inbox</h1>

<div class="container">
    <div class="col-md-12">
        <div class="grid email">
            <div class="grid-body">
                <div class="row">
                    @*inbox menu*@
                    <div class="col-md-3">
                        <div>
                            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                <a class="btn btn-secondary" asp-action="ReturnToInbox" asp-controller="Account">Inbox</a>
                                <a type="submit" asp-action="Write" asp-controller="Account" class="btn btn-secondary">Write Mail</a>
                                <a type="submit" asp-action="Settings" asp-controller="Account" class="btn btn-secondary">Settings</a>
                            </div>
                        </div>
                    </div>
                    @*End inbox menu*@
                    <div class="col-md-9">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    @foreach (var mail in Model)
                                    {
                                        <tr>
                                            <td>
                                                @mail.From
                                            </td>
                                            <td>
                                                <form id="@mail.MessageId" asp-action="Mail" asp-controller="Account" method="post">
                                                    <input type="hidden" name="messageId" value="@mail.MessageId" />
                                                    <a href="javascript:{}" onclick="document.getElementById('@mail.MessageId').submit(); return false;">@mail.Subject</a>
                                                </form>
                                            </td>
                                            <td>@mail.SendDate</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>