@model Mail

@{
    ViewData["Title"] = "Mail";
}

<h1>Mail</h1>

<div class="container">
    <div class="col-md-12">
        <div class="grid email">
            <div class="grid-body">
                <div class="row">
                    @*inbox menu*@
                    <div class="col-md-3">
                        <div>
                            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                <a class="btn btn-secondary" asp-action="ReturnToInbox" asp-controller="Account">Inbox</a>
                                <a type="submit" asp-action="Write" asp-controller="Account" class="btn btn-secondary">Write Mail</a>
                                <a type="submit" asp-action="Settings" asp-controller="Account" class="btn btn-secondary">Settings</a>
                            </div>
                        </div>
                    </div>
                    @*End inbox menu*@
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <p>FROM: @Model.From</p>
                            </div>
                            <div class="row">
                                <p>TO: @Model.To</p>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <p>Date: @Model.SendDate</p>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var attachement in Model.AttachmentsList)
                        {
                            <form id="@Model.MessageId" asp-action="SaveAttachment" asp-controller="Account" method="post">
                                <input type="hidden" name="messageId" value="@Model.MessageId" />
                                <a href="javascript:{}" onclick="document.getElementById('@Model.MessageId').submit(); return false;">@attachement.Name</a>
                            </form>
                        }
                    </div>
                    <div class="row">
                        @Model.Message
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>